<h1><%= @user.username %></h1>

<h2>Posts by <%= @user.username %></h2>
<ul id="user-published-posts-list">
  <% @user_posts.each do |post| %>
    <li class="user-published-post"><%= link_to "#{post.title}", post_path(post) %>.</li>
  <% end %>
</ul>

