<!--<div class="col s12 m6 l3">-->
  <div class="input-field col s12 m6 l3">
    <select class="icons" id="libraries">
      <option value="" disabled selected>Choose your option</option>
      <option value="shakespeare" data-author='/shakespeare'
              data-icon="https://www.biography.com/.image/t_share/MTE1ODA0OTcxNzgzMzkwNzMz/william-shakespeare-194895-1-402.jpg"
              class="left circle inspirational_author">Shakespeare</option>
      <option value="rowling" data-author='/rowling'
              data-icon="http://cdn.hercampus.com/s3fs-public/2015/05/04/JK-Rowling-009.jpg"
              class="left circle inspirational_author">J-K Rowling</option>
      <option value="got" data-author='/got'
              data-icon="http://photos.vanityfair.com/2014/03/14/532359fe74f8a09c34ba3b65_george-rr-martin-tout.jpg"
              class="left circle inspirational_author">George RR Martin</option>
    </select>
    <label>Select an Author</label>
  </div>
<!--</div>-->
