<div class="row">
  <h4>Edit your post!</h4>
  <%= render partial: './errors', locals: {errors: @errors} %>
  <%= render partial: 'libraries' %>

  <%= form_for :posts, url: post_path, method: 'PUT', html: {id: 'post-form'}, class: 'col s12' do |f| %>
    <%= render partial: 'post_form', locals: {post: @post, f: f} %>
  <% end %>
</div>