<div class="collection">
  <% @posts.each do |post|%>
      <%= link_to post_path(post), class: 'collection-item' do %>
          <%= post.title %>
          <span class='badge'><%= post.votes.count %> votes</span>
      <%	end  %>
  <% end %>
  <!--<a href="#!" class="collection-item"><span class="new badge">4</span>Alan</a>-->
  <!--<a href="#!" class="collection-item">Alan</a>-->
  <!--<a href="#!" class="collection-item"><span class="badge">14</span>Alan</a>-->
</div>

<% if logged_in? %>
  <%= link_to "New Post", new_post_path %>
<% end %>