<div class="row">
  <%= render partial: './errors', locals: {errors: @errors} %>
  <%= render partial: 'libraries' %>

  <%= form_for :posts, url: posts_path, html: {id: 'post-form'}, class: 'col s12' do |f| %>
      <%= render partial: 'post_form', locals: {post: @post, f: f} %>
  <% end %>
</div>