<h1>That Young comment</h1>

<h3><%= @post.title %></h3>
<p><%= @post.text %></p>

<% if author?(@post) %>
  <%= link_to "Edit your post", edit_user_post_path(current_user, @post) %>
  <%= link_to "Delete your post", edit_user_post_path(current_user, @post) %>
<% end %>